body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    background-color: #7c5295;
    color: white;
  }
  
  header {
    background-color: black;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin: 10px;
  }
  
  nav a {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #f7f1e3;
    background-color: #444;
  }
  
  main {
    padding: 50px;
    text-align: center;
  }
  
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: white;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 50px;
    line-height: 1.5;
  }
  
  .services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .service {
    margin: 20px;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    transition: all 0;}  