<html lang="en">
<head>
<meta charset="UTF-8">
<title>Fractal Fun</title>
<link rel="stylesheet" href="static/css/Generate.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js">
    </script>
<div id="container"> 
    <div style = "text-align:center;">
        
        <script src="./static/js/art.js"> </script>
        <script> draw(); </script>
    
         </div>
    <form>
    <p id="caption">
        Fractal Curves
        <br><br><a href="/">Go Back Home</a>
    </p>
    </form>
</div>
</body>
</html>