<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Craft Babes</title>
    <link rel="stylesheet" href="static/css/home.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/draw">Draw</a></li>
          <li><a href="/generate">Generate</a></li>
        </ul>
      </nav>
    </header>
    <main>
     
      <h1>Welcome Crafty Babes!</h1>
      <p>Examples of Art Created: </p>
      <div class="services">
        <div class="service">
          <h2>Service 2</h2>
          <img src="C:\Users\Alex\Desktop\WicHacks2023\WicHacks2023\myapp\static\images\tree.png" >
        </div>
        <div class="service">
          <h2>Service 3</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Point Move</p>
    </footer>
  </body>
</html>
