<!DOCTYPE html>
<html>
  <head>
    <title>Our Team</title>
    <link rel="stylesheet" href="static/css/OurTeam.css">
  </head>
  <body>
    <header>
      <h1>Our Team</h1>
    </header>
    <main>
      <section class="team-member">
        <img src="member1.jpg" alt="Team Member 1">
        <h2>Lucy</h2>
        <h3>Back end developer</h3>
        <p>Lucy developed our API generated art that can be accessed under our "Generate" tab.</p>
      </section>
      
    <section class="team-member">
      <img src="member2.jpg" alt="Team Member 2">
      <h2>Alex</h2>
      <h3>Back end developer</h3>
      <p>Alex devoloped the our hand traking aspects we utilize in our draw function.</p>
    </section>
    <section class="team-member">
        <img src="member3.jpg" alt="Team Member 3">
        <h2>Lindy</h2>
        <h3>Back end developer</h3>
        <p>Lindy worked to capture the users image through their webcams and implemented Alex's hand traking to capture the users finger movements as a drawling function.</p>
      </section>
    </section>
</section>
<section class="team-member">
  <img src="member4.jpg" alt="Team Member 4">
  <h2>Amelia</h2>
  <h3>Front end developer</h3>
  <p>Amelia devloped the parts of our application our users see and interact with.</p>
</section>
    </main>
  </body>
  <br><br>
  <footer>
    <div class="footer"></div>
    <a href="home.html">Home</a>
  </footer>
  
</html>
